{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <h1>Mots de passe oublié</h1>

    {{ form(modifyPwd) }}

    <br>

  Vous avez deja un compte?  <a href="{{ path('app_login') }}"> Connectez-vous </a>

</div>

{% endblock %}